body, .root {
	height: 100%;
	width: 100%;
	margin: 0;
}

.app {
	background-attachment: fixed;
	overflow: auto;
	display: flex;
	justify-content: center;
}
.app-sections {
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}